:root {
    --bg-body: rgb(229, 229, 229 / 100%);
    --primary-blue: #3877ee;
    --primary-red: #ef5da8;
    --color-gray: rgb(66 86 122 / 100%);
    --color-gray-500: rgb(48 62 88 / 50%);
    --color-gray-100: rgb(66 86 122 / 10%);
    --color-black-blue: rgb(66 86 122);
    --color-black-blue-400: rgb(66 86 122 / 40%);
    --font-famaly-main: 'PT Sans', sans-serif;
    --font-size-s: 14px;
    --font-line-s: 18px;
    --font-size-m: 20px;
    --font-line-m: 30px;
    --font-size-l: 25px;
    --font-line-l: 30px;
}

@media (width <= 520px) {
    :root {
        --font-size-s: 14px;
        --font-line-s: 18px;
        --font-size-m: 14px;
        --font-line-m: 22px;
        --font-size-l: 16px;
        --font-line-l: 24px;
    }
}
