:root {
    --primary-blue: #3877EE;
    --primary-red: #EF5DA8;
    --color-gray:  rgba(66, 86, 122, 1);
    --color-gray-opacity:  rgba(66, 86, 122, .1);
    --color-black-blue:  rgb(66, 86, 122);
    --font-famaly-main: 'PT Sans', sans-serif;
    --font-size-s: 14px;
    --font-line-s: 18px;
    --font-size-m: 20px;
    --font-line-m: 30px;
    --font-size-l: 25px;
    --font-line-l: 30px;
}
