.year {
    color: rgb(56 119 238);
    font-family: 'Bebas Neue', serif;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
}

.text {
    margin-top: 14px;
    color: var(--color-black-blue);
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
}
