.h1 {
    position: relative;
    padding-left: 80px;
    color: var(--color-black-blue);
    font-family: var(--font-famaly-main), serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;

    &::before {
        content: '';
        display: block;
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
            to bottom,
            var(--primary-blue),
            var(--primary-red)
        );
    }
}

@media (width <= 1200px) {
    .h1 {
        position: relative;
        padding-left: 50px;
        font-size: 42px;
    }
}

@media (width <= 520px) {
    .h1 {
        padding: 0;
        text-wrap: wrap;
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);

        &::before {
            display: none;
        }
    }
}
