.wrapper {
    padding-top: 15vh;
    border: 1px solid var(--color-gray-opacity);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
    }
    &:before{
        right: 0;
        top: 50%;
        width: 100%;
        height: 0;
        border-bottom: 1px solid var(--color-gray-opacity);
    }
    &:after {
        top: 0;
        right: 50%;
        height: 100%;
        border-right: 1px solid var(--color-gray-opacity);
    }
}

.yearWrapp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.year {
    font-family: var(--font-famaly-main), sans-serif;
    font-size: 200px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -1px;
    z-index: 100;
}

.dateFrom {
    color: var(--primary-blue);
}

.dateTo {
    color: var(--primary-red);
}

.title {
    max-width: 300px;
}

.slidersWrapp {
    padding: 0 80px;
}

.counters {
    font-family: var(--font-famaly-main), sans-serif;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
    color: var(--color-gray);
}

.swiperBtnWrapp {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.swiperBtn {
    margin-top: unset !important;
    width: 50px !important;
    height: 50px !important;
    background: none;
    border-radius: 50%;
    border: 1px solid rgba(66, 86, 122, 0.5);
    position: static !important;
    &:before,
    &:after {
        display: none;
    }
}