.mainSliderBtns {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.swiperBtn {
    margin-top: unset !important;
    width: 50px !important;
    height: 50px !important;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(66 86 122 / 50%);
    position: static !important;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        display: none;
    }

    &:hover {
        background-color: #fff;
    }

    & > svg {
        width: auto !important;
        height: auto !important;
    }
}

@media (width <= 520px) {
    .mainSliderBtns {
        margin-top: 10px;
        gap: 10px;
    }

    .swiperBtn {
        width: 25px !important;
        height: 25px !important;

        //pointer-events: none;
    }
}
